.mainMenuTool{
    position: absolute;
    width: 400px;
    height:300px;
    background-color: #303030;
    border-radius: 40px;  
    padding: 20px; 
    
    right: 7px; 
    animation: fadeMenu 0.2s forwards;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    top: 5%;
}
@keyframes fadeMenu {
    0%   { opacity:0.0; }    
    100% { opacity:1.0; }
}

.divMainToolF1{
    flex: 1;
    display: flex;
    flex-direction: row;
    
}
.divMainToolF1Flex1{
    flex: 1;
}
.divMainToolF1Flex2{
    flex: 1.2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.divMainToolF2{
    flex: 2;
}
.divMainToolF3{
    flex: 3;
    
}

.iconTopMenuTool{
    width: 10%;
    color: white;
    border-radius: 100%;
    padding: 10px;
    background-color: #3a3a3a;
    position: relative;
    cursor: pointer;
}
.iconTopMenuTool:hover{
    background-color: #545252;
    
}

