.mainMenuTool{
    position: absolute;
    width: 20vw;
    min-height:300px;
    background-color: #303030;
    border-radius: 40px;  
    padding: 20px; 
    
    right: 7px; 
    animation: fadeMenu 0.2s forwards;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    top: 5%;
    z-index: 100;
}
@keyframes fadeMenu {
    0%   { opacity:0.0; }    
    100% { opacity:1.0; }
}

.divMainToolF1{
    flex: 1;
    display: flex;
    flex-direction: row;
    
}
.divMainToolF1Flex1{
    flex: 1;
    display: flex;
    align-items: center;
}
.divMainToolF1Flex2{
    flex: 1.2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.divMainToolF2{
    flex: 2;
    display: flex;
    flex-direction: column;
}

.menuToolSoundBrig{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}
.divMainToolF3{
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    
}
.cardMenuTool{
    width: 48%;
    background: #3a3a3a;
    height: 50px;
    cursor: pointer;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}


.iconTopMenuTool{
    width: 10%;
    color: white;
    border-radius: 100%;
    padding: 10px;
    background-color: #3a3a3a;
    position: relative;
    cursor: pointer;
}
.iconTopMenuTool2{
    width: 8%;
    color: white;
    border-radius: 100%;
    position: relative;
    cursor: pointer;
}
.iconTopMenuTool3{
    width: 10%;
    color: white;
    position: relative;
    padding: 15px;

}
.radioMenuTool{
    width: 90%;
    height: 2px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255,1);
    /* background: #3584e4; */
}
.radioMenuTool::-moz-range-thumb{
    /* background-color: #ffffff; */
    width: 15px;
    height: 15px;
    border-radius: 20px;
}
.radioMenuTool::-webkit-slider-runnable-track   {
    /* background-color: black; */
    border-radius: 20px;
}
.radioMenuTool::-moz-range-progress{
    background-color: #3584e4;
    height: 5px;
}
.iconTopMenuTool:hover{
    background-color: #545252;
    
}
.cardMenuTool:hover{
    background-color: #545252;


}

.menuCardText{
    color: white;
    font-size: 90%;
    padding: 10px;
}

