.App{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

}
.Top{
    width: 100vw;
    height: 3.5vh;

}
.Desktop{
    width: 100vw;
    height: 97vh;
    display: flex;
    flex-direction: row;
    position: relative;
}
.app1{
    flex:1;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;

}
.app2{
    flex:1;
}

.appIconDiv{
    width: 7vw;
    height: 7vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;

}
.appIconDivImg{
    width: 80%;
    border-radius: 20px;
}
.appIconDiv:hover{
    background:rgba(255,255,255, 0.2);
}