.App{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

}
.Top{
    width: 100vw;
    height: 3.5vh;

}
.Desktop{
    width: 100vw;
    height: 97vh;
    display: flex;
    flex-direction: row;
}
.app1{
    flex:1;
    padding: 20px;
}
.app2{
    flex:1;
}